<div class="container">
  <h1>Angular Bíblia – Conceitos Principais</h1>

  <p class="intro">
    Cada tópico abaixo mostra um conceito do Angular, com exemplos práticos
    e paralelos bíblicos para facilitar o aprendizado.
  </p>

  <ul class="menu">
    <li><a [routerLink]="'/view-viva'">View Viva (signal)</a></li>
    <li><a [routerLink]="'/input-output'">Input/Output</a></li>
    <li><a [routerLink]="'/diretivas'">Diretivas</a></li>
    <li><a [routerLink]="'/pipes'">Pipes</a></li>
    <li><a [routerLink]="'/services'">Services</a></li>
  </ul>
</div>
